@{

    if (IsPost == true)
    {

        using (var db = new TodoAsp.DataContext())
        {
            var newTask = new TodoAsp.Task();
            newTask.subject = Request.Form["subject"];
            newTask.priority = Request.Form["priority"];


            db.Tasks.Add(newTask);

            db.SaveChanges();
        }
    }
    else if (Request.QueryString["command"] == "delete")
    {
        using (var db = new TodoAsp.DataContext())
        {
            var deleteTaskId = Request.QueryString["id"].AsInt();

            var deleteTask = db.Tasks.Find(deleteTaskId);
            db.Tasks.Remove(deleteTask);

            db.SaveChanges(); 
        }
    }
}


<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">The eye fix up</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Username <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Logoff</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="panel">
            <div class="panel-body">
                <form class="form-inline" action="~/index.cshtml" method="post">
                    <div class="form-group">
                        <label>งานที่จะทำ</label>
                        <input type="text" class="form-control" name="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">ความสำคัญ</label>
                        <select class="form-control" name="priority">
                            <option>น้อย</option>
                            <option>มาก</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">เพิ่ม</button>
                </form>
            </div>
        </div>

        <div class="list-group">
            @{

                using (var db = new TodoAsp.DataContext())
                {
                    var allTasks = db.Tasks;

                    foreach (var t in allTasks)
                    {

                        <div class="list-group-item">
                            <a class="btn btn-default" href="~/index.cshtml?command=delete&id=@t.id">
                                <i class="glyphicon glyphicon-ok"></i>
                            </a>

                            @t.subject
                        </div>

                    }

                }
            }


        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>